body {
    width: 100%;
    height: auto;
    background-image: url("../image/art1.jpg");
    background-size: 100% 100%;
    font-family: cursive;
    text-align: center;
    color: hsl(16, 34%, 87%);
    font-size: larger;
}
.container {
    width: 100%;
    height: auto;
    background-size: 100% 100%;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 30px;
}
